<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ app_name }}: {{ instance_name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">US Ignite Docker Tutorials</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{ app_name }}</h1>
        <p>This is a small applciation running under python Flask, it is reading evnrionmental variables from the dockerfile and optionally from the command line as well to provide runtime data to the container!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Container Instance: {{ instance_name }}</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Volumes</h2>
          <p>When this container runs it declares a volume with the -v flat of the 'docker run' command.  Data volumes are not written to docker images on commit and used for files that are intended to be modifed when an application is run.  This volume uses an option that also maps the container volume to a directory on the local filesystem, this option is fine for development but should NEVER be used in any accessible container as it voilates the sand-box notion of a container by giving it access to the host filesystem.  Volumes are a complex topic and details will be discussed in a different episode. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Ports</h2>
          <p>When docker images are prepared they can be given instructions to EXPOSE a port for use outside the docker enviornment.  By default docker containers are only accessible to one another on a particular host and have no access to the outside world unless explicidly defined with an EXPOSE directive.  Even then the actual ports may not be mapped when a container is run, to map a port on the host to an exposed port you specify it in the using the -p|-P flag when a container is run.  </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Other Considerations</h2>
          <p>Docker run has a number of options, see the docker help on this for more detailed information.  In the example given to run this container there are a few other important details.  --name allows you to name a container to reference it later, this is seperate from the original image name used to create the container.  -d is a common flag that runs the container as a daemon, otherwise the container executes the command given and exists right after.  One other important element to note is that that application should be run in the foreground when putting them in a docker container.  In this case the nginx image defines an entrypoint that starts nginx in the forground, otherwise we have to specify it in the run command ourselves.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; US Ignite 2016</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='/js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
